body {
    margin: 0;
    flex-direction: column;
    border: 1px solid rgba(59, 89, 152);
}

main {
    margin: 1px 1px;
    border: 1px solid rgba(59, 89, 152);
}

header {
    position: relative;
    background-color: rgba(59, 89, 152);
    padding: 25px;
    text-align: right;
    background-image: url(Images/2004FacebookBanner.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 55% 100%;
    
}

.container {
    display: inline-block;
    position: relative;
    color: rgb(82, 137, 221);
    font-family: monospace;
    font-size: 5em;
}
