body{
    margin: 0;
    flex-direction: column;
    display: flex;
    border: 1px solid rgb(59, 89, 152);
    font-family: monospace;
}

main{
    justify-content: right;
    width: 100%;
    margin: 1px 1px;
    border: 1px solid rgb(59, 89, 152);
}

.SmallerMain{
    display: inline-block;
    position: relative;
    width: 85%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 7px 1px;
}

.InnerText{
    padding: 10px 10px;
}

.FounderText{
    padding: 5px 20px;
    text-align: left;
}

header{
    position: relative;
    background-color: rgb(59, 89, 152);
    background-image: url(Images/2004FacebookBanner.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 55% 100%;
    
}

.container{
    display: inline-block;
    position: relative;
    margin: 5px 0px;
    color: rgb(82, 137, 221);
    font-size: 5em;
    padding-left: 50vw;
}

.Options{
    display: inline;
    position: relative;
    font-size: 1em;
    padding: 1px 1vw;
    padding-left: 50.35vw;
    
}

.Options a{
    color: rgb(255, 255, 255);
    padding: 1px 2px;
}


.WelcomeScreen{
    display: flex;
    position: relative;
    text-align: center;

}

.InfoText{
    font-size: 1em;
}
.InfoText ul{
    list-style-type: none;
}

.Title{
    text-align: left;
    background-color: rgb(59, 89, 152);
    color: rgb(255, 255, 255);
    padding: 1px 1px;
}


.RegisterButton{
    color: white;
    background-color: #3e79fa;
    padding: 2px 7px;
}

.LoginButton{
    color: white;
    background-color: #3e79fa;
    padding: 2px 7px;
}

.ButtonElements{
    display: flex;
    justify-content: center;
    gap: 10px;
}

a{
    text-decoration: none;
}

.BottomLinks a{
    text-decoration: none;
    color: rgb(59, 89, 152);
}
footer{
    text-align: center;
}



aside{
    position: relative;
    height: 25%;
    margin: 1px 1px;
    border: 2px dotted rgb(59, 89, 152);
    padding: 2px 2px;
}

.LoginText{
    text-align: right;
}

.InputBox{
    background-color: rgb(217, 223, 234);
    border: 1.75px solid;
}

.RegisterStuff{
    padding: 2px;
    text-align: center;
}

.TextSpacing{
    margin-right: 15%;
}

.FAQList{
    color: rgb(59, 89, 152);
    text-align: left;
    padding-left: 8.5%;
}